<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div class="container">

  <h3>Total gold: {{ total }}</h3>

  <div class="row">
    <div class="col s2" style="margin: 5px; border: 2px solid black; height: 200px">
      <h4>Farm</h4>
      <p>Earns 2-5 gold</p>
      <button (click)="addFarm()" >Farm</button>
    </div>
    <div class="col s2" style="margin: 5px; border: 2px solid black; height: 200px">
      <h4>Cave</h4>
      <p>Earns 5-10</p>
      <button (click)="addCave()">Cave</button>
    </div>
    <div class="col s2" style="margin: 5px; border: 2px solid black; height: 200px">
      <h4>House</h4>
      <p>Earns 7-15</p>
      <button (click)="addHouse()">House</button>
    </div>
    <div class="col s2" style="margin: 5px; border: 2px solid black; height: 200px">
      <h4>Casino</h4>
      <p>Earn or lose up to 100 gold</p>
      <button (click)="addCasino()">Casino</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col s10" style="overflow: scroll; margin: 5px; border: 2px solid black; height: 400px;">
      <h2>Activity log</h2>
      <ul>
        <li *ngFor="let activity of activity.reverse()">
          {{activity}}
        </li>
      </ul>
    </div>
  </div>
</div>